---
title: Vincent's Airbnb static page
---

<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.it/g/1280/720');">

  <%= partial "login-modal" %>

  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>

    <%= partial "banner-inline-form" %>
  </div>

</div>

<div class="container text-center padded features">
  <div class="row">
    <% data.products.each do |product, details| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag details.image %>
        <h2><%= details.moto %></h2>
        <p><%= details.catchline %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Your next trip</h2>
    <div class="row">
      <% data.flats.each do |owner, flat| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card breath" style="background-image: url('<%= image_path flat.picture %>');">
            <div class="card-category"><%= flat.city %></div>
            <div class="card-description">
              <h2><%= flat.name %></h2>
              <p><%= flat.summary %></p>
            </div>
            <%= image_tag flat.owner_picture, class:"card-user avatar avatar-large" %>
            <%= link_to "#", "flats/#{owner}.html", class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Your newsletter code -->
<%= partial "newsletter" %>

<!-- Your map code -->
<%= partial "map" %>
